.btn-div {
    display: flex;
    justify-content: center;
}

input {
    padding: 10px;
    border: 1px solid #a9a9a9;
    border-radius: 3px;
    /* background-color: #f5f5f5; */
}

button {
    border: none;
    border-radius: 3px;
    padding: 10px;
}

/* 202124 */
/* 1A73E8 */